<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/xsd2cppsax/src/de/netallied/xsd2cppsax/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/xsd2cppsax}/generation_progress.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.netallied.xsd2cppsax.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-c config/opencollada_15.conf"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="xsd2cppsax"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx1600M"/>
</launchConfiguration>
