*.dir
*.suo
*.sdf
*.opensdf
*.ipch
*~
CMakeFiles
cmake_install.cmake
ZERO_CHECK.vcxproj*
ALL_BUILD.vcxproj*
INSTALL.vcxproj*
OpenCOLLADA.sln
OpenCOLLADAConfig*.cmake
CMakeCache.txt

.DS_Store
*.xcodeproj
*.build
cmake_temp
CMakeScripts/
/bin/
/lib/
